django-cache-machine>=0.9.1
django-filter>=1.0.1
django-model-utils>=2.4
django-oauth-toolkit>=1.0.0
Pillow>=3.1.1
pypushwoosh>=0.2.0
social-auth-app-django>=2.0.0
requests>=2.9.
celery==3.1.16
-e git://github.com/pythonforfacebook/facebook-sdk.git@master#egg=facebook-sdk
factory-boy==2.4.1
flake8==3.5.0
pep8==1.5.7
pyflakes==1.6.0
python-instagram>=1.3.2
python-swiftclient==2.4.0
twython>=3.3.0